section.excellence
    .container
        .excellence__inner.flex
            .excellence__cell.excellence__cell_left(data-aos="fade-up" data-aos-duration="800")
                h4.h4.excellence__title Learn with a Demo account
                ul.excellence__items
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1000")
                        +icon('iconRegistration')
                        span.excellence__text Easy registration
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1000")
                        +icon('iconRechargeable')
                        span.excellence__text Rechargeable 10’000
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1200")
                        +icon('iconUnlimited')
                        span.excellence__text Unlimited attempts
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1300")
                        +icon('iconSecurity')
                        span.excellence__text Trading without earnings and losses
            .excellence__cell.excellence__cell_right(data-aos="fade-up" data-aos-duration="800")
                h4.h4.excellence__title Learn Trade on a real account
                ul.excellence__items
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1000")
                        +icon('iconDeposit')
                        span.excellence__text 50% bonus for a $50 deposit
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1100")
                        +icon('iconRewards')
                        span.excellence__text Achievement rewards
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1200")
                        +icon('iconFunctionality')
                        span.excellence__text Full platform functionality
                    li.excellence__item(data-aos="zoom-in" data-aos-duration="1300")
                        +icon('iconInvestment')
                        span.excellence__text Opportunities for investment growth