section.payment
    .container
        .payment__top
            h2.h2.payment__title(data-aos="fade-up") Make Deposits and <span>Withdraw Fast</span>
            .payment__text(data-aos="fade-up") Enjoy reliable payment services across the globe.
        .payment__row.flex
            .payment__col
                img(src="app/img/visa.svg" alt="visa" data-aos="zoom-in" data-aos-duration="1000").payment__icon
            .payment__col
                img(src="app/img/payredeem.svg" alt="payredeem" data-aos="zoom-in" data-aos-duration="1100").payment__icon
            .payment__col
                img(src="app/img/astropay.svg" alt="astropay" data-aos="zoom-in" data-aos-duration="1200").payment__icon
            .payment__col
                img(src="app/img/netteler.svg" alt="netteler" data-aos="zoom-in" data-aos-duration="1300").payment__icon
            .payment__col
                img(src="app/img/skrill.svg" alt="skrill" data-aos="zoom-in" data-aos-duration="1400").payment__icon
            .payment__col
                img(src="app/img/perfectmoney.svg" alt="perfectmoney" data-aos="zoom-in" data-aos-duration="1000").payment__icon
            .payment__col
                img(src="app/img/unionpaya.svg" alt="unionpaya" data-aos="zoom-in" data-aos-duration="1100").payment__icon
            .payment__col
                img(src="app/img/webmoney.svg" alt="webmoney" data-aos="zoom-in" data-aos-duration="1200").payment__icon
            .payment__col
                img(src="app/img/advcash.svg" alt="advcash" data-aos="zoom-in" data-aos-duration="1300").payment__icon
            .payment__col
                img(src="app/img/jeton.svg" alt="jeton" data-aos="zoom-in" data-aos-duration="1400").payment__icon