.icon-chevronRight {
  width: 5.5rem;
  height: 1rem;
  fill: none;
  stroke: var(--color-accent);
  stroke-width: 1.3px;
  margin-left: 1.5rem;
}
.icon-arrowLeft,
.icon-arrowRight {
  width: 1.2rem;
  height: 2.4rem;
  fill: none;
  stroke: #202020;
}